---
import { postNote } from '../Api/postNote';

let formData = {
  id:"1",
  user_email: '',
  header: '',
  body: '',
  tags: [],
};

function submitForm() {
  postNote(formData)
    .then(response => {
      if (response.ok) {
        console.log('Nota creada exitosamente');
      } else {
        console.error('Error al crear la nota');
      }
    })
    .catch(error => {
      console.error('Error de red:', error);
    });
}
---

<form class="flex flex-col " on:submit|preventDefault={submitForm}>
  <label for="user_email">Correo Electrónico:</label>
  <input class="text-black" type="text" id="user_email" value={formData.user_email} />
  <label for="header">Header:</label>
  <input class="text-black" type="text" id="header" value={formData.header} />
  <label for="body">body:</label>
  <input class="text-black" type="text" id="body" value={formData.body} />
  <label for="tags">tags:</label>
  <input class="text-black" type="text" id="tags" value={formData.tags} />


  <button type="submit">Crear Nota</button>
</form>
